@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Container positioning */
.container  {
    max-width: 980px;
    margin: 0 auto;
}

/* Adding Bg-img to generic container */
.bg-img {
    /* margin-top: 0; */
    /* height: 80vh; */
    /* background-color: blue; */
    background-image: url(./assets/pexels-scott-webb-532568.jpg);
    background-repeat: no-repeat;
    /* width: 800px; */
    background-position: center;
    background-size: cover;
}

/* styling the header/ hero section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header > ul {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 30px;
    list-style-type: none;
    font-size: 13px;
}

header ul li a {
    text-decoration: none;
    color: black;
}
header #Logo {
    font-size: 16px;
}
header #Home {
    color: gray;
}

header #Buy {
    background-color: rgb(21, 89, 235);
    padding: 10px;
    color: #fff;
    border-radius: 3px;
}

/* adding the cropped image to the bottom of bg-img generic container */
.bg-img .cropped-img {
    /* background-image: url(./assets/trans.jpg); */
    
    /* z-index: 2; */
    margin: 0;
    padding: 0;
    position: relative;
    top: 20px;
    /* width: fit-content; */
}

.bg-img .cropped-img img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

/* Styling the main section */
.main-flex {
    display: flex;
    /* margin-top: 50px; */
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 35px;
}

/* sub-styling for main conference-details section */
.main-flex .conference-details {
    margin: 108px 0px;
}

.main-flex .conference-details h3 {
    color: gray;
    font-weight: lighter;

}

.main-flex .conference-details h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    /* letter-spacing: 1px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(21, 89, 235);
    padding: 0px 0px 20px 0px;
    margin-top: -10px;
}

.main-flex .conference-details .date{
    color: gray;
    /* vertical-align: middle; */
}

.main-flex .conference-details .date > img {
    margin-right: 5px;
    vertical-align: middle;
}

/* sub-styling for main > conference-details > countdown section */

.main-flex .conference-details .countdown {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    margin-top: 30px;
}

.main-flex .conference-details .countdown .countdown-items {
    border-width: 2px;
    border-color: rgb(240, 240, 240);
    border-style: none none none solid;
    padding-left: 10px;
}

.main-flex .conference-details .countdown .nums {
    color: rgb(21, 89, 235);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

.main-flex .conference-details .countdown .subtitle {
    font-size: 10px;
    color: gray;
}

/* sub-styling for main > section-forms section */
.main-flex .section-forms {
    background-color: #fff;
    /* text-align: ; */
    padding: 20px 30px;
    border-radius: 5px;
    width: 310px;
    height: 400px;
}
.main-flex .section-forms h3 {
    font-size: 25px;
    margin: 7px 0px 10px 0px;
    font-weight: lighter;
}

.main-flex .section-forms label {
    color: rgb(182, 181, 181);
    font-size: 15px;
    margin-bottom: 10px;
}

.main-flex .section-forms input {
    margin-bottom: 10px;
}

.main-flex .section-forms .forms{
    border-width: 2px;
        border-color: rgb(250, 250, 250);
        border-style: solid none none none;
        padding-left: 10px;
        width: 100%;
        height: 20px;
}

.main-flex .section-forms #terms {
    font-size: 13px;
    color: gray;
}

.main-flex .section-forms button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
    /* color: rgb(21, 89, 235); */
    background-color: rgb(21, 89, 235);
    border: none;
    color: whitesmoke;
    padding: 15px;
}
/* Styling for footer section */
footer{
    background-color: rgb(21, 89, 235);
    /* height: 50px; */
    /* display: flex;
    justify-content: ; */
}

.footer {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    align-items:flex-end;
}

.footer .color {
    color: #ffff;
}